description = "Rodapé"
==
<footer id="layout-footer" class="flex justify-between my-2 bg-gray-400 p-2 text-gray-50 rounded-lg shadow">
    <div class="address">
        <h1 class="font-bold">Site do Fulano</h1>
        <span>
            <p>Web Solutions</p>
            <p>Location: Rua XYZ, 123.</p>
            <p>Phone</p>
        </span>
    </div>

    <div class="social text-center">
        <h1 class="font-bold">Social Medias</h1>
        <span class="flex gap-2">
            <p>GitHub</p>
            <p>Instagram</p>
            <p>Discord</p>
        </span>
    </div>

    <div class="credits">
        <h1 class="font-bold">Development</h1>
        <span>
            <p>Site</p>
            <p>https://fulano.com.br</p>
        </span>
    </div>
</footer>