description = "Cabeçalho"
==
<header id="layout-header">
    <nav class="flex justify-between my-2 bg-gray-400 p-2 text-gray-50 rounded-lg shadow">
        <h1><a href="#">Site do Fulano</a></h1>
        <ul class='flex gap-2'>
            <li class="{% if this.page.id == 'home' %}bg-violet-600 rounded shadow-lg{% endif %} hover:text-violet-600 rounded"><a href="{{ 'home'|page }}">Home</a></li>
            <li class="{% if this.page.id == 'about' %}bg-violet-600 rounded shadow-lg{% endif %} hover:text-violet-600 rounded"><a href="{{ 'about'|page }}">About</a></li>
            <li class="{% if this.page.id == 'produtos' %}bg-violet-600 rounded shadow-lg{% endif %} hover:text-violet-600 rounded"><a href="{{ 'produtos'|page }}">Produtos</a></li>
            <li class="{% if this.page.id == 'contact' %}bg-violet-600 rounded shadow-lg{% endif %} hover:text-violet-600 rounded"><a href="{{ 'contact'|page }}">Contact</a></li>
        </ul>
    </nav>
</header>
