title = "Produto"
url = "/produto/:slug"
layout = "ipsillon-theme"
description = "Página de Produtos"
is_hidden = 0

[builderDetails]
modelClass = "Regis\Conent\Models\Produto"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Registro não encontrado"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
    {{ attribute(record, displayColumn) }}
    {{ record.title }}
    </br>
    {{ record.description }}
    </br>
    <img class="w-52 rounded-lg" src="{{ record.image.path }}" alt="{{ record.image.path }}">
{% else %}
    {{ notFoundMessage }}
{% endif %}

<div class="imageContainer flex gap-2">
    {% for galeryImage in record.galery %}
        <img class="w-52 rounded-lg" src="{{ galeryImage.path }}" alt="{{ galeryImage.path }}">
    {% endfor %}
</div>


